body {
  background-color: #008B8B;
}

.topnav {
  overflow: hidden;
  background-color: #191970;
  top: 0;
  transition: top 0.3s;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #008B8B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: white;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  border-radius: 5px;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
}

.topnav .search-icon {
  color: #008B8B;
  border-radius: 5px;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
}

.search-icon:hover {
  background-color: white;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.login-btn {
  background-color: #191970;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login {
  text-align: center;
}

.login-form {
  /* border: 3px solid #f1f1f1; */
  width: 40%;
  display: inline-block;
  background-color: #008B8B;;
}

.username, input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.sign-up {
  background-color: #191970;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.review-container {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 25%;
  height: 25%;
  background-color: white;
}

.review-container .img-con {
  flex: 0 0 150px;
}

.review-container .img-con img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-height: 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
}

.review-container .content {
  padding-left: 20px;
}

.review-container:hover {
  background-color: lightgrey;
}

.all-review-container {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 40%;
  height: 40%;
  background-color: white;
  margin: auto;
}

.all-review-container .img-con {
  flex: 0 0 150px;
}

.all-review-container .img-con img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-height: 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
}

.all-review-container .content {
  padding-left: 20px;
}

.all-review-container:hover {
  background-color: lightgrey;
}

.review-page-container {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 60%;
  height: 60%;
  background-color: white;
  margin: auto;
}

.review-page-container .review-page-header {
}

.review-page-container .review-page-header .center{
  text-align: center;
}

.review-page-container .review-page-header img {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 150px;
  width: 150px;
}

.review-page-container .review-page-header .review-header-contents {
  text-align: center;
}

.review-page-container .full-review {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: white;
  margin: auto;
  max-width: 755px;
  line-height: 25px;
  margin-bottom: 30px;
  white-space: pre-wrap;
  font-family: "Times New Roman", Times, serif;
}

.search-bar {
  width: 30%;
}

.search-table {
  border-radius: 5px;
  width: 30.2%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  float: right;
  padding: 6px;
  margin-top: 42px;
  background-color: white;
  margin-right: -394px;
  display: block;
}

.review-container {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 25%;
  height: 25%;
  background-color: white;
}

.search-container .search-content {
  padding-left: 155px;
}

.search-container:hover {
  background-color: lightgrey;
}

.artist-container {
  text-align: center;
}

.artist-name:hover {
  color: grey;
}

.write-container {
  margin-left: 440px;
  width: 10%;
  padding: 40px;
}

.write-container label {
  border-radius: 5px;
  padding: 6px;
  border: none;
  width: 100px;
  font-size: 13px;
  float: left;
  clear: both;
}

.write-container input {
  border-radius: 5px;
  padding: 6px;
  border: none;
  width: 300px;
  font-size: 13px;
  clear: both;
}

.write-container textarea {
  border-radius: 5px;
  padding: 6px;
  border: none;
  width: 500px;
  height: 300px;
  font-size: 13px;
  clear: both;
  margin-left: -80px;
  position: relative;
}

.write-container button {
  clear: both;
  margin-left: 140px;
}

.write-comment-container {
  border-radius: 5px;
  width: 300px;
  font-size: 13px;
  clear: both;
}

.comment-form textarea{
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 50px;
  font-size: 13px;
  clear: both;
}

.comment-form button {
  border-radius: 5px;
  clear: both;
  margin: auto;
}

.comment-button {
  border-radius: 5px;
}

.button {
  border-radius: 5px;
}

.comment-container {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 25%;
  height: 25%;
  background-color: white;
  margin: auto;
}

.show-more {
  float: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  background-color: white;
  margin: auto;
}

.artist-review-container {
  float: right;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  border: 1px solid #ddd;
  width: 40%;
  height: 40%;
  background-color: white;
  margin: auto;
}

.write-container h3 {
  color: #8B0000;
  width: 400px;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  margin: auto;
}

.submitted-review h3{
  border: none;
  margin-left: -20px;
  color: black;
}
